$font-stack: Helvetica,
Arial,
sans-serif;
$background-color: rgba(241, 241, 241, 1);
$background-color-opacity: rgba(241, 241, 241, 0.5);
$background-color-card: #fff;
$box-shadow-card: 3px 3px 3px 0px rgba(51, 51, 51, 0.1),
-1px -1px 3px 0px rgba(51, 51, 51, 0.1);
$box-shadow-nav: 0px 1px 0px #e9ebeb;
$border-bottom-nav: 1px solid #f2f4f4;
$color-divider: #ebebeb;
$color-gray: #737c84;
$color-gray-light: #b4b4b4;
$color-high: #ed1946;
$color-medium: #ff9632;
$color-low: #69a3ff;
$color-error: #ed1946;